<div class="jumbotron" style="background-color: #F5F5F5">
    <h1 class="display-4">Horarios Misa</h1>
    <hr class="my-4">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Fecha</th>
                <th scope="col">Dia de la semana</th>
                <th scope="col">Cupo total</th>
                <th scope="col">Cupo disponible</th>
                <th scope="col">Transmisión</th>
                <th scope="col">Editar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let horario of horarios">
                <td>{{horario.hora}}</td>
                <td>{{horario.dia}}</td>
                <td>{{horario.capacidad}}</td>
                <td>{{horario.disponible}}</td>
                <td>{{horario.transmision}}</td>
                <td></td>
            </tr>
        </tbody>
    </table>
  </div>

<!-- <div>
    <div class="row">

    </div>
</div> -->
